#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}
.custom-table-css {
  margin-top: 20px;
}
.custom-table-css tbody tr td {
  padding: 8px;
}
.form-control {
  height: 40px!important;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.instrumental-table tbody tr td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}